@font-face {
  font-family: 'OpenSansRegular';
  src: url(assets/fonts/OpenSans-Regular.ttf);
  src: url(assets/fonts/OpenSans-Regular.ttf?#iefix) format("embedded-opentype"), url(assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url(assets/fonts/Roboto-Regular.ttf);
  src: url(assets/fonts/Roboto-Regular.ttf?#iefix) format("embedded-opentype"), url(assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url(assets/fonts/Ubuntu-Regular.ttf);
  src: url(assets/fonts/Ubuntu-Regular.ttf?#iefix) format("embedded-opentype"), url(assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  margin: 0; }

header {
  box-sizing: border-box;
  position: absolute;
  padding: 0 32px;
  width: 100%;
  z-index: 100; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  max-width: 500px; }

h1 {
  font-size: 28px; }

h3 {
  line-height: 1.4; }

p {
  line-height: 1.6;
  max-width: 500px;
  color: #616161; }

.button {
  border-radius: 2px;
  outline: none;
  width: 140px;
  padding: 12px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 300ms;
  font-size: 14px;
  text-shadow: none; }

footer {
  padding: 32px;
  background-color: #1C1C1C;
  color: white; }
  footer .inner {
    max-width: 600px;
    margin: 0 auto; }
  footer .contacts {
    display: flex;
    flex-wrap: wrap; }
  footer .contact, footer .address {
    text-align: center;
    padding: 16px;
    min-width: 268px;
    margin: 0 auto; }
    @media all and (max-width: 480px) {
      footer .contact, footer .address {
        width: 100%; } }
    footer .contact div, footer .address div {
      font-size: 14px;
      padding: 4px 0; }
    footer .contact h4, footer .address h4 {
      color: #D2B389;
      display: inline-block;
      margin-right: 16px; }

.logo {
  background: url(assets/images/logo_large_white.png) center center no-repeat;
  background-size: contain;
  width: auto;
  height: 40px;
  margin: 16px auto; }

.now-background {
  background: url(assets/images/meeting.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }
  @media all and (max-width: 800px) {
    .now-background {
      height: 300px; } }

.tomorrow-background {
  background: url(assets/images/football.jpeg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }
  @media all and (max-width: 800px) {
    .tomorrow-background {
      height: 300px; } }

.you-background {
  background: url(assets/images/you.jpeg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto 16px auto; }
  .profile-pic.thomas {
    background: url(assets/images/profile_thomas.jpg) center center no-repeat;
    background-size: cover; }
  .profile-pic.cm {
    background: url(assets/images/profile_cm.jpg) center center no-repeat;
    background-size: cover; }

.icon-container {
  margin: 32px 16px;
  padding: 8px;
  border-radius: 4px; }
  .icon-container.email {
    background-color: #EB2435; }
  .icon-container .email-icon {
    background: url(assets/images/email.svg) center center no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px; }
  .icon-container .linked-in-icon {
    background: url(assets/images/linked-in.svg) center center no-repeat;
    background-size: cover;
    background-color: white;
    border-radius: 4px;
    width: 48px;
    height: 48px; }

.btn-cta {
  text-decoration: none;
  display: inline-block;
  background-color: #EB2435;
  color: white;
  border: 2px solid #EB2435;
  font-size: 14px; }
  .btn-cta:hover {
    background-color: white;
    color: #EB2435;
    border-color: white; }

.btn-ghost {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: 2px solid white;
  font-size: 14px; }
  .btn-ghost:hover {
    background-color: white;
    color: #EB2435; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/images/team.jpeg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.57); }
  .hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.51); }
  .hero > .content {
    z-index: 10;
    text-align: center;
    color: white;
    max-width: 700px;
    margin: 0 auto;
    padding: 16px; }
    .hero > .content h3, .hero > .content p {
      color: #f6f6f6;
      font-weight: 300; }
    .hero > .content h1 {
      font-size: 250%;
      letter-spacing: 2px; }
    .hero > .content h2 {
      margin-bottom: 32px;
      font-size: 1em; }
    .hero > .content p {
      font-size: 14px;
      line-height: 1.6;
      padding: 0 62px;
      margin: 32px 0; }
    .hero > .content hr {
      width: 30%;
      margin: 20px auto;
      border: 1px solid #EB2435; }

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .grid .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% / 6);
    height: 160px;
    padding: 16px; }
    @media all and (max-width: 980px) {
      .grid .grid-item {
        width: 50%; } }
    .grid .grid-item.color-0 {
      background-color: #1C1C1C;
      color: white; }
    .grid .grid-item.color-1 {
      background-color: #EB2435;
      color: white; }
    .grid .grid-item.color-2 {
      background-color: #ca1222;
      color: white; }
    .grid .grid-item.color-3 {
      background-color: #ef5360;
      color: white; }

.columns {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px; }
  @media all and (max-width: 800px) {
    .columns.reverse {
      flex-direction: column-reverse; } }
  .columns .col-50 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 320px;
    height: 500px; }
    @media all and (max-width: 800px) {
      .columns .col-50 {
        width: 100%; } }
    .columns .col-50.dark {
      background-color: #1C1C1C;
      color: white; }
      .columns .col-50.dark p {
        color: #f2f2f2; }
    .columns .col-50 .inner {
      padding: 32px;
      margin: 0 auto; }
      .columns .col-50 .inner.text-center {
        text-align: center; }

.then-background {
  background: url(assets/images/hat-baby.jpeg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }
  @media all and (max-width: 800px) {
    .then-background {
      height: 300px; } }

.fullwidth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  min-height: 500px; }
  .fullwidth-container .inner {
    padding: 32px; }
  .you-background .fullwidth-container {
    background-color: rgba(28, 28, 28, 0.6); }

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-container {
  margin-top: 48px; }

hr.divider {
  width: 30%;
  margin: 20px auto;
  border: 1px solid #EB2435; }

.text-light {
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.57); }
  .text-light p {
    color: #f2f2f2; }

.title-color {
  color: #D2B389; }

.extra-padding-vertical {
  padding: 64px 0; }

.highlight {
  color: #EB2435; }
