* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

header {
  position: absolute;
  padding: 0 32px;
  width: 100%;
  z-index: 100;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  max-width: 500px;
}

h1 {
  font-size: 28px;
}

h3 {
  line-height: 1.4;
}

p {
  line-height: 1.6;
  max-width: 500px;
  color: #616161;
}

.button {
  border-radius: 2px;
  outline: none;
  width: 140px;
  padding: 12px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 300ms;
  font-size: 14px;
  text-shadow: none;
}

footer {
  padding: 32px;
  background-color: #1C1C1C;
  color: white;
  .inner {
    max-width: 600px;
    margin: 0 auto;
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .contact, .address {
    text-align: center;
    padding: 16px;
    min-width: 268px;
    margin: 0 auto;
    @media all and (max-width: 480px) {
      width: 100%;
    }
    div {
      font-size: 14px;
      padding: 4px 0;
    }
    h4 {
      color: #D2B389;
      display: inline-block;
      margin-right: 16px;
    }
  }
}