.btn-cta {
  text-decoration: none;
  display: inline-block;
  background-color: #EB2435;
  color: white;
  border: 2px solid #EB2435;
  font-size: 14px;
  &:hover {
    background-color: white;
    color: #EB2435;
    border-color: white;
  }
}

.btn-ghost {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  font-size: 14px;
  &:hover {
    background-color: white;
    color: #EB2435;
  }
}