hr.divider {
  width: 30%;
  margin: 20px auto;
  border: 1px solid #EB2435;
}

.text-light {
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.57);
  p {
    color: #f2f2f2;
  }
}

.title-color {
  color: #D2B389;
}

.extra-padding-vertical {
  padding: 64px 0;
}

.highlight {
  color: #EB2435;
}