@font-face {
  font-family: 'OpenSansRegular';
  src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
  src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
  src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
