.icon-container {
  margin: 32px 16px;
  padding: 8px;
  border-radius: 4px;
  &.email {
    background-color: #EB2435;
  }
  .email-icon {
    background: url('../assets/images/icons/email.svg') center center no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
  }
  .linked-in-icon {
    background: url('../assets/images/icons/linked-in.svg') center center no-repeat;
    background-size: cover;
    background-color: white;
    border-radius: 4px;
    width: 48px;
    height: 48px;
  }
}