.logo {
  background: url('../assets/images/logo_large_white.png') center center no-repeat;
  background-size: contain;
  width: auto;
  height: 40px;
  margin: 16px auto;
}

.then-background {
  background: url('../assets/images/hat-baby.jpeg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 560px;
  @media all and (max-width: 800px){
    height: 300px;
  }
}

.now-background {
  background: url('../assets/images/meeting.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  //height: 100%;
  height: 560px;
  @media all and (max-width: 800px){
    height: 300px;
  }
}

.tomorrow-background {
  background: url('../assets/images/football.jpeg') center center no-repeat;
  background-size: cover;
  width: 100%;
  //height: 100%;
  height: 560px;
  @media all and (max-width: 800px){
    height: 300px;
  }
}

.you-background {
  background: url('../assets/images/you.jpeg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto 16px auto;
  &.thomas {
    background: url('../assets/images/profile_thomas.jpg') center center no-repeat;
    background-size: cover;
  }
  &.cm {
    background: url('../assets/images/profile_cm.jpg') center center no-repeat;
    background-size: cover;
  }
}