.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/images/team.jpeg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-transform: translate3d(0,0,0);
  transition: all 10000s; //100vh hack ios
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.57);
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.51);
  }
  > .content {
    z-index: 10;
    text-align: center;
    color: white;
    max-width: 700px;
    margin: 0 auto;
    padding: 16px;
    h3, p {
      color: #f6f6f6;
      font-weight: 300;
    }
    h1 {
      font-size: 2em;
      letter-spacing: 2px;
    }
    h2 {
      margin-bottom: 32px;
      font-size: 1em;
    }
    p {
      font-size: 14px;
      line-height: 1.6;
      padding: 0 62px;
      margin: 32px 0;
    }
    hr {
      width: 30%;
      margin: 20px auto;
      border: 1px solid #EB2435;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% / 6);
    height: 160px;
    padding: 16px;
    @media all and (max-width: 980px){
      width: 50%;
    }
    &.color-0 {
      background-color: #1C1C1C;
      color: white;
    }
    &.color-1 {
      background-color: #EB2435;
      color: white;
    }
    &.color-2 {
      background-color: darken(#EB2435, 10%);
      color: white;

    }
    &.color-3 {
      background-color: lighten(#EB2435, 10%);
      color: white;
    }
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  &.reverse {
    @media all and (max-width: 800px){
      flex-wrap: wrap-reverse;
    }
  }
  &.dark {
    background-color: #1C1C1C;
    color: white;
    p {
      color: #f2f2f2;
    }
  }
  .col-50 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 320px;
    height: 100%;
    @media all and (max-width: 800px){
      width: 100%;
    }
    .inner {
      height: 100%;
      padding: 32px;
      margin: 0 auto;
      &.text-center {
        text-align: center;
      }
    }
  }
}

.fullwidth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  min-height: 500px;
  .inner {
    padding: 32px;
  }
  .you-background & {
    background-color: rgba(28, 28, 28, 0.6);
  }
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  margin-top: 48px;
}